main {
    .balenciaga {
        background-image: url(../img/Image.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 550px;
    }

    .balenciaga2 {
        background-image: url(../img/Image\(2\).png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 550px;
    }

    .balenciaga3 {
        background-image: url(../img/Image\(3\).png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 550px;
    }
}